@CHARSET "UTF-8";

html, body{
	width: 100%;
	height: 100%;
	background-color: gray;
	color: white;
}

.main{
	min-height: 100%;
	position: relative;
}

.main .top{
	height: 100px;
}

.main .top .header-menu{
	float: right;
	margin-top: 30px;
	width: 700px;
}
.main .top .header-menu ul>li{
	display: inline-block;
	margin: 5px 0 5px 10px;
}
.main .top .header-menu .left{
	margin-right: 15px;
	font-family: FontAwesome;
}
.main .top .header-menu .menu_button{
	height: 20px;
	border-radius:20px;
	padding: 2px 15px;
}
.main .content{
	margin-top: 40px;
	padding-bottom: 50px;
}

.main .content .content_autorization{
	background: url(/img/login_grad.png) repeat-x;
	width: 420px;
	height: 262px;
	border-radius: 25px;
	margin: 0 auto;
	background-color: white;
}
.content .contact{
	width: 720px;
	margin: 0 auto;
}
.content .contact .table{
	border-collapse: inherit;
	margin-bottom: 0;
}
.content .contact .table .sort, .content .contact .table .active_sortSecond, 
.content .contact .table .active_sortFirst
{
	font-family: FontAwesome;
} 
.content .contact .table .active_sortFirst, .content .contact .table .active_sortSecond{
	color: red;
}
.content .contact .table form{
	margin: 0;
	height: 10px;
}
.content .contact .table .help-block{
	display: none;
}
.content .contact .table label{
	margin: 0;
}
.content .contact .table .check{
	margin: 0 0 5px 10px;
	width: 15px;
	height: 15px;
}
.content .contact .table  tr>td{
	height: 15px;
}
.content .contact .table .first{
	width: 20px;
	padding-left: 15px;
}
.content .contact .table tr:first-child th:first-child {
    border-top-left-radius:30px
}
.content .contact .table tr:first-child th:last-child {
    border-top-right-radius:30px
}
.content .contact .table td, .content .contact .table th{
	border: 0;
	padding: 10px 0 3px 8px;
}
.content .contact .table .table_top{
	background: url(/img/contact_top_grad.png) repeat-x;
}
.content .contact .table .table_top .action{
	width: 90px;
}
.content .contact .table tr{
	background: url(/img/contact_cont_grad.png) repeat-x;
}
.content .contact .table tr>td{
	position: relative;
}
.content .contact .table .delete{
	display: block;
	position: absolute;
	top: 10px;
	right: -30px;
	width: 30px;
	height: 18px;
}
.content .contact .table tr:hover .delete {
	background: url(/img/delete.png) no-repeat;
	width: 30px;
	height: 18px;
} 
.content .contact .table tr>td a{
	color: white;
}
.content .contact .table .edit, .content .contact .table .view{
	text-align: center;
	font-size: 12px;
}
.content .contact .table .edit{
	background: url(/img/edit.png) no-repeat;
	width: 35px;
	height: 18px;
	float: left;
}

.content .contact .table .view{
	background: url(/img/view.png) no-repeat;
	width: 43px;
	height: 18px;
	float: right;
}
.content .contact .bottom{
	background: url(/img/cont_bottom_grad.png) repeat-x;
	height: 52px;
	width: 720px;
	border-radius: 0px 0px 30px 30px;
}
.content .contact .pagination{
	background: url(/img/bottom_menu.png) no-repeat;
	width: 490px;
	height: 35px;
	margin: 0 auto;
	padding-top: 3px;
	position: relative;
}
.content .contact_field {
	margin: 0 auto;
	width: 400px;
}
.content .contact_field .button_submit{
	font-family: FontAwesome;
	padding: 1px 10px;
	border-radius: 12px;	
}
.content .pagination ul {
	padding-left: 176px;
}
.content .pagination ul > li > a{
	background: none;
	border: 0;	
	color: black;
}
.content .pagination ul > li > a:hover{
	color: white;
}
.content .pagination .last, .content .pagination .next,
.content .pagination .first, .content .pagination .prev
{
	position: absolute;
}
.content .pagination .last{
	right: 200px;
}
.content .pagination .next{
	background: url(/img/next.png) no-repeat;
	width: 30px;
	height: 10px;
	right: 250px;
	top: 14px;
}
.content .pagination .first a, .content .pagination .last a
{
	font-family: FontAwesome;
	color: white;
}
.content .pagination .first{
	left: 20px;
}
.content .pagination .prev{
	background: url(/img/prew.png) no-repeat;
	width: 70px;
	height: 10px;
	left: 75px;
	top: 14px;
}
.content .pagination .prev a{
	width: 30px;
}
.content .pagination .active a{
	color: white;
	font-size: 16px;
	width: 800;
}
.content .disabled{
	display: none;
}
.content .letter {
	width: 500px;
	height: 300px;
	margin: 0 auto;
}
.letter .placeholder{
	max-width: 450px;
	max-height: 100px;
}
.main .footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	text-align: center;
	height: 20px;
	bottom: 20px;
}
.claer{
	clear: both;
}
#delete_contact{
	display: none; 
	width: 350px; 
	height: 100px; 
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; 
	top: 45%; 
	left: 50%; 
	margin-top: -200px;
	margin-left: -175px; 
	z-index: 5; 
	padding: 20px 10px;
	color: black;
}
#delete_contact #close {
	width: 14px;
	height: 21px;
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	display: block;
}
#delete_contact  #text{
	top: 50px;
	position: absolute;
}
#delete_contact  #yes, #delete_contact #no{
	bottom: 25px;
	position: absolute;
	font: 15px/20px Arial regular;
	font-weight: 500;
	width: 50px;
	border-radius: 3px 7px;
	height: 20px;
	text-align: center;
	background: gray;
	color: white;
	cursor: pointer;
}
#delete_contact  #yes{
	left: 30%;
}
#delete_contact #no{
	left: 50%;
}
#countdown{
	display: none;
	bottom: 10px;
	right:10px;
	position: absolute;
}